.card {
  display: grid;
  grid-template-columns: 3.5fr 1fr 2fr 1fr;
  align-items: center;
  gap: 20px;
  width: 100%;
  border-top: 1px solid $whiteDark;
  padding-top: 24px;
}

.mainInfo {
  @include flexColumn;
  row-gap: 8px;
}

.img {
  @include flexCenter;
  @include sizes(100px, 100px);

  img {
    @include fullSize;
  }
}

.info {
  @include flexColumn;
  row-gap: 8px;
  justify-content: center;

  h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }

  p {
    font-size: 18px;
    color: $gray;
    font-weight: 400;
    font-style: italic;
  }
}

.count {
  @include flexCenterBetween;
  column-gap: 16px;

  b {
    font-size: 22px;
    font-weight: 700;
  }
}

.price {
  @include flexCenter;
  font-size: 24px;
  font-weight: 700;
}

.remove {
  @include flexCenterEnd;
}

.countBtn,
.btnRemove {
  @include sizes(40px, 40px);
  @include flexCenter;
  @include transition(border-color);
  border-radius: 50%;
  flex-shrink: 0;
  background-color: transparent;

  svg {
    @include sizes(12px, 12px);

    path {
      @include transition(fill);
    }
  }
}

.btnRemove {
  border: 1.5px solid $grayDark;

  svg {
    path {
      fill: $grayDark;
    }
  }

  @include hover {
    border-color: $black;

    svg path {
      fill: $black;
    }
  }
}

.countBtn {
  border: 1.5px solid $orange;

  svg {
    path {
      fill: $orange;
    }
  }

  @include hover {
    background-color: $orange;

    svg path {
      fill: $white;
    }
  }
}

@media (max-width: $mob) {
  .card {
    grid-template-columns: 1fr;
    column-gap: 12px;
    align-items: center;
    position: relative;
  }

  .mainInfo {
    @include flexCenter;
    flex-direction: column;
  }

  .count {
    column-gap: 24px;
    justify-content: center;
    order: 1;
  }

  .remove {
    position: absolute;
    right: 0;
    top: 16px;
  }

  .btnRemove {
    @include sizes(32px, 32px);
  }

  .img {
    @include sizes(200px, 200px);
  }
}
