.filter {
  @include flexCenterBetween;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.cards {
  @include grid(4);
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 60px;
}

@media (max-width: $laptop) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: $tablet) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 48px;
  }

  .filter {
    gap: 32px;
    margin-bottom: 48px;
  }
}

@media (max-width: $mob) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin-bottom: 32px;
  }

  .filter {
    gap: 24px;
    margin-bottom: 32px;
  }
}
