.container {
  @include flexColumn;
  row-gap: 40px;
  width: calc(100vw - 100px);
  height: 100%;
  background-color: $white;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 90%;
  padding: 40px 32px;
}

@media (max-width: $tablet) {
  .container {
    margin: 32px auto;
    padding: 32px 24px;
    width: 100vw;
  }
}

@media (max-width: $mob) {
  .container {
    margin: 24px auto;
    padding: 24px 16px;
  }
}
