.block {
  @include flexColumn;
  row-gap: 24px;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    margin: 0;
  }
}

.desc {
  text-align: center;
  font-size: 18px;
  color: $gray;
}

.img {
  @include sizes(300px, auto);
}

@media (max-width: $tablet) {
  .block {
    row-gap: 20px;
  }

  .desc {
    font-size: 16px;
  }

  .img {
    @include sizes(240px, auto);
  }
}

@media (max-width: $mob) {
  .block {
    row-gap: 16px;
  }

  .desc {
    font-size: 14px;
  }

  .img {
    @include sizes(180px, auto);
  }
}
