.block {
  @include flexColumn;
  row-gap: 24px;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0;
  }
}

.desc {
  text-align: center;
  font-size: 18px;
  color: $gray;
}

.img {
  @include sizes(300px, auto);
}
