@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/flex' as *;

*,
h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 120%;
  color: $black;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  background-color: $background;
  color: $black;

  &.--lock {
    overflow: hidden;
  }
}

#root {
  @include flexColumn;
  @include fullSize;
  min-height: 100vh;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  @include transition(color);
  color: $white;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
  display: inline-block;
}
